
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 45px;
  cursor: pointer;
}

.user-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.user-img:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .navbar { padding: 10px 20px; }
  .logo { height: 35px; }
  .user-img { height: 35px; width: 35px; }
}

.page {
  max-width: 500px;
  margin: 40px auto;
  text-align: left;  
}
h2 { font-size: 35px; 
  margin-bottom: 10px; 
  color: black; 
}
p { font-size: 14px;
   margin-bottom: 20px; 
   color: #666; 
  }


.card {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding:14px;
  border: 1px solid grey;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}
.card img { width: 200px; 
  border-radius: 8px; 
  object-fit: cover;
 }
.card-text { font-size: 14px;
   font-weight: 600;
    line-height: 1.4; 
    text-align: left;
     flex: 1;
     color:grey;
     }


.name-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
  gap: 10px;
}
#username { padding: 10px; 
  width:100%;
   border-radius: 5px;
    border: 1px solid #666;
   }
#username:focus { outline: none;
   border-color: #000;
   }
#error { color: red;
   display: none;
    font-size: 14px;
   }
.name-section button {
  padding: 10px 20px;
  border: none;
  background-color:orangered;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  width:100%;
}
.name-section button:hover {
   background-color: #333;
   }


.hidden {
   display: none;
   }
.image img {
   width: 200px;
   border-radius: 8px; 
  }
  