*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background:white;
}
.container
{
    display:flex;
    width:70%;
    height:300px;
}
.box
{
    flex-direction: column;
    justify-content: center;
    flex:1;
    position:relative;
    padding:50px;
    color:white;
    display:flex;
     
}
.left
{
background: green;
}
.right
{
    background: blue;
}
.small-text
{
    font-size: 16px;
    margin-bottom: 10px;
    opacity:0.8;
}
.dash
{
    font-size:100%;
    margin-right: 12px;
    margin-bottom: 10px;
    line-height: 0;
}
h1
{
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-weight: normal;
}
.plus-box
{
    width:40px;
    height:40px;
    border: 2px solid white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}