*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #fff;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left{
    width: 50vw;
    height: 100vh;
    background: #176BFF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.left h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: center;
}

.left p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: center;
}

.left button {
    background-color: white;
    color: #1A73E8;
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;

    width: fit-content;
    align-self: center; 
}

.right{
    width: 50vw;
    height: 100vh;
    display: flex;
}

.right img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
