body {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 245, 247);
}
.main-heading {
  color: rgb(114, 114, 113);
  text-align: center;
  font-weight: 600px;
  font-size: 28px;
}

#container h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 800;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 65vh;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: 60px auto;
}

.box {
  margin: 10px;
  width: 200px;
}

.box h3 {
  margin: 0;
  font-size: 36px;
  color: rgb(164, 2, 245);
  font-weight: 1000;
}

.box p {
  font-size: 20px;
  color: rgb(114, 114, 113);
  justify-content: space-around;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
