
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}
.hero
{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.content
{
    max-width: 800px;
    text-align: center;
}


.content h2 {
    font-size: 22px;
    color:grey;
    margin-bottom: 15px;
}


.content p {
    font-size: 15px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}
.input-row
{
     display: flex;
     justify-content: center;
      gap:10px;
     flex-wrap: wrap;
}

input,button {

    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 14px;
}
button
{
    background-color:red;
}


button:hover {
    background-color:darkred;
}
