 body {
            font-family: Arial, Helvetica, sans-serif;
            background: #f4f4f4;
            margin: 0;
            padding: 0;
        }
      .hero
      {
        width:100%;
        min-height: 100vh;
        display:flex;
        
        justify-content: center;
        align-items: center;
        padding:20px;
          }
    .card
    {
        width:100%;
        max-width: 1100px;
        height:500px;
       background:rgb(77, 77, 223) ;
       border-radius: 20px;
       padding: 40px;
       box-shadow: 0px 10px 40px rgba(0,0,0,0.1);

       display: flex;
            justify-content: space-between;
              gap: 20px;
    }
       
      .panel{
        padding:40px 30px;

      } 
      .panel-left
      {
        
        color:#fff;
        margin-left: 50px;
          margin-top: 40px;
      }
     
      .brand .logo
      {
        font-size: 28px;
        font-weight: 700;
    
      }
      .brand .logo span
      {
         color:aqua;
          }
      .title

      {
        font-size: 42px;
        font-weight: 700;
         line-height: 1.2;
        margin-top: 40px;
      }
      .discount
      {
         display: flex;
            align-items: center;
            width: fit-content;
            padding: 10px 16px;
            border-radius: 12px;
            border: 1px solid aqua;
            margin-top: 50px;
            
      }
      .discount-icon
      {
        font-size: 25px;
         margin-right: 8px;
        
      }
      .discount-text strong
      {
        font-size: 25px;
      }
      .discount-text small
      {
        font-size: 12px;
            margin-left: 4px;
      }
      .panel-center
      {
        
        display: flex;
        justify-content:center;
        align-items:center;
      }
        .container {
            width:500px;
            padding: 25px;
            background: #3345ce;    
             border-radius: 16px;
            color: white;
            position: relative;
            
        }   
         h2 {
            margin-top: 0;
           color:white;

         }
          form {
            display: flex;
            flex-direction: column;
            gap: 12px; 
                     
        }
        select,
        input {
            padding: 12px;
            border-radius: 8px;
            border: none;
            font-size: 15px;
            background-color: #6975d6;
            color:white;
        }
 button {
            padding: 14px;
            background: #21F7D0;
             color: #003366;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #18c9ab;
        }
        
        .panel-right {
            width: 25%;
            height:25%;
            display: flex;
            justify-content: flex-end;
           
        }

        .photo {
            width: 100%;
            border-radius:20px;
            object-fit: cover;
             
        }
    