*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #ffffff;
    padding: 40px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card{
    width: 350px;
    height: 750px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.vertical-text{
    position: absolute;
    bottom: 20px;
    right: -50px;
    font-size: 100px;
    font-weight: 800;
    color: rgba(255,255,255,0.8);
    transform: rotate(90deg);
    letter-spacing: 4px;
    pointer-events: none;
}
