@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hover-card {
    width: 420px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background:white;
  transition: 0.3s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.image-layer {
  position: relative;
  width: 100%;
  height: 530px;
  overflow: hidden;
}

.image-layer img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}


.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  color: black;
  width: 100%;
  padding: 7px 20px;
  opacity: 1; 
}

.profile-info h2 {
  margin: 3px;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
.profile-info .subtitle {
  margin-top: 6px;
  font-size: 14px;
  color: black;
}

.profile-info .social-icons {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.profile-info .social-icons a {
  color: black;
  font-size: 18px;
  opacity: 0.82;
  transition: 0.3s ease;
}

.profile-info .social-icons a:hover {
  opacity: 1;
}


.gradient-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg,#4c6ef5, #a03ef5); 
  opacity: 0;
  transition: 0.4s ease;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
   color: white;
  opacity: 0;
  transition: 0.4s;
  width: 100%;
  padding: 0 20px;
}

.content h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.subtitle {
  margin-top: 8px;
  font-size: 15px;
  opacity: 0.9;
  }


.social-icons {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.social-icons .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 18px;
  transition: 0.3s ease;
}

.social-icons .icon:hover {
  background: #eee;
}

.details-btn {
    margin-top: 20px;
  padding: 12px 40px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.details-btn:hover {
  background: white;
  color: #6a11f5;
  }


.hover-card:hover .gradient-overlay {
  opacity: 0.92;
}

.hover-card:hover .content {
  opacity: 1;
  transform: translate(-50%, -50%);
}