body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    background: #fff;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid #e5e5e5;
}

.profile-img{
    width: 95%;
    height: 50vh;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

h2{
    font-size: 22px;
    margin: 8px 0 3px;
}

p{
    color: rgb(86, 86, 86);
    font-size: 25pxS;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: rgb(146, 144, 147);
}

/* test change */
