*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #5d2ca8;
    padding: 20px;
}

.container{
    display: flex;
    gap: 20px;
}

/* LEFT BIG IMAGE BLOCK */
.left-box{
    width: 70%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.left-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    background: linear-gradient(to top, rgba(0,0,0,0.75), transparent);
}

.meta{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #ddd;
    font-size: 18px;
    margin-bottom: 15px;
}

.meta i{
    opacity: 0.9;
}

/* Vertical line separator */
.separator{
    width: 2px;
    height: 18px;
    background: #ccc;
    display: inline-block;
}

.left-title{
    font-size: 40px;
    font-weight: 700;
    color: white;
    letter-spacing: 3px;
}

/* RIGHT SECTION */
.right-box{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-card{
    height: 44vh;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.small-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    background: linear-gradient(to top, rgba(0,0,0,0.75), transparent);
}

.small-title{
    font-size: 30px;
    font-weight: 700;
    color: white;
    line-height: 1.3;
}
