body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    width: 350px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border: 6px solid rgba(255, 255, 255, 0.6);   
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: linear-gradient(to right, rgba(64,103,247,0.7), rgba(186,43,199,0.7));
}

.overlay h2 {
    margin: 0;
    font-size: 28px;
}

.overlay p {
    margin: 0;
    font-size: 18px;
}

.social i {
    background: white;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
    color: #555;
    margin: 0 8px;
}

.btn {
    margin-top: 15px;
    padding: 12px 30px;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}


/* test change */
