body {
  font-family: "Poppins", sans-serif;
  background: #f0f4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-card {
  width: 340px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  text-align: center;
}

.img-box img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  display: block;
}

.info {
  padding: 18px 10px 25px;
}

.name {
  font-size: 22px;
  margin: 5px 0;
  font-weight: 600;
}

.role {
  font-size: 15px;
  color: #6e6e6e;
  display: block;
  margin-bottom: 18px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 22px;
  color: #777;
  font-size: 18px;
}
