@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
    
}


.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    border-bottom: 1px solid #ddd;
}

.left-info {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 70px;
}

.right-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-info .lang a,
.right-info .icons a {
    color: grey;
    text-decoration: none;
}

.right-info .icons a {
    margin-right: 10px;
}


header {
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo span {
    font-size: 40px;
    color: green;
    font-weight:800;
}
.logo
{
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a.active {
    text-decoration: underline;
    color: black;
    
}


.header-right a {
    margin-left: 15px;
    color: #333;
    text-decoration: none;
    margin-bottom: 18px;
}

.btn {
    background: green;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}


   .hero
{
    margin-top: 10px;
   background:#eef7f2;
  padding:30px 0;
}
.hero-inner {
    
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.hero-text {
    
    margin-left: 60px;
    
}

.hero-text h1 {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 40px;
    font-size: 28px;
    color: #555;
}

.btn {
    background: #25a55f;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    display:inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.hotline span {
    margin-top: 10px;
    color: #25a55f;
    font-weight: 700;
}

.hero-image img {
    width:800px;
    height:900px;
    object-fit: cover;
    margin-right: 30px;
}
.services {
    padding: 60px 0;
}

.container {
    width: 90%;
    margin: auto;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
}
.heading .name
{
    color:grey;
    font-size: 20px;
}
.heading  .section-title
{
    font-size: 30px;
    color:black;
    letter-spacing: 2px;
    margin-top: 15px;
}
.service-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; 
}

.service-box {
    background:white;
     width: calc(33.33% - 13.33px); 
    text-align: center;
    
}



.icon-circle {
    width: 50px;
    height: 50px;
    background:green;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle i {
    color:white;
    font-size: 28px;
}

.service-title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.service-text p {
    margin-top: 10px;
    line-height: 1.5;
}

.feature
{
    background: white;
    margin-top: 30px;
}
.feature-inner
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-text {
    width: 50%;
    margin-left: 80px;
    
}

.feature-text h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.feature-text h2 {
    margin-bottom: 40px;
    font-size: 34px;
    color:black;
    font-weight: bold;
}
.feature-text p
{
    font-size: 20px;
    margin-bottom: 30px;
    color:grey;
}
.check-list {
    list-style: none;
    display: flex;              
    flex-direction: column;     
    align-items: center;        
    gap: 25px;                  
}

.check-list li {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;                   
}

.check-list i {
    color:green;
    font-size: 22px;
}
.btn {
    background:green;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    display:inline-block;
    margin-top: 30px;
}
.feature-img img {
    width: 600px; 
    height:400px;
    object-fit: cover;
    margin-top: 10px;
}

.information
{
    padding:40px 0;
    background: white;
    margin-top: 70px;
}

 .information .row {
    display: flex;
    justify-content: center;  
    gap: 30px;                
    flex-wrap: wrap;         
}

.information .logo {
    display: flex;
    align-items: flex-start;  
     gap: 15px;                
}

.information .logo span {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    background:#f1eded;
    color:black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
              
}

.information .logo .content h3 {
    font-size: 23px;
    margin: 6px;
    font-weight: bold;
    color: black;
}

.information .logo .content p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
    color:grey;
}


.solution
{
    padding:50px 0;
    background:#eef7f2;
}
.title h2
{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    letter-spacing: 1px;
}
.title p
{
    color:grey;
    margin-top: 15px;
    
}
.image-row {
    display: flex;
    justify-content: space-between; 
     
    margin-left: 20px 0;
    align-items: center;
  }

  .image {
    flex: 1; 
    text-align: center; 
  }

.image img
{
    display: flex;
    align-items: center;  
    justify-content: center;
     gap: 5px;   
     width: 400px; 
    height:300px;
    object-fit: cover;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 15px;
}
.image h3
{
    font-size: 25px;
    color:black;
    align-items: center;
    font-weight: bold;
    margin-top: 8px;
}
.image p
{
    color:grey;
    margin-top: 5px;
}

.about-section
{
    margin-top: 30px;
    width:100%;
    padding:70px 0;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
}
.text-box
{
    width: 45%;
    margin-left: 30px;
}
.text-box h4
{
    font-size: 15px;
    color: grey;
}
.text-box  h1
{
    font-size: 40px;
    color:black;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
}
.text-box p
{
    margin-top: 10px;
    font-size: 15px;
    color:grey;
    line-height: 1.6;
}
.skill-box
{
    margin-right: 20px;
    width: 40%;
}
.skill
{
    margin-bottom: 25px;
}
.skill p
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}
.bar{
    width:100%;
    height:7px;
    background: #e5e5e5;
    border-radius: 20px;
    overflow: hidden;
}
.fill
{
    height: 100%;
    background: green;
    border-radius: 20px;
}

.progress
{
  margin: 25px auto;
    height: 320px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 40px;
}
.progress img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: center 30%;
    
}
.overlay
{
    position: absolute;
    inset:0;
}
.text
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    text-align: center;
    width:80%;
}
.text h2
{
    margin-bottom: 10px;
    font-size: 25px;
    color:white;
    font-weight: bold;
}
.text p
{
    margin-top: 10px;
    font-size:15px ;
    color:grey;
}
button {
    background:green;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    display:inline-block;
    cursor: pointer;
    margin-top: 20px;
}

    
.testimonial
{
    width:100%;
    text-align: center;
    padding:40px 0;
    background: white;
    border-bottom:1px solid #ddd;
}
.testimonial p
{
    font-size: 20px;
    color:grey;
    margin-top: 15px;
}
.testimonial h2
{
    font-size: 35px;
    font-weight: bold;
    color:black;
    letter-spacing: 2px;
   margin-top: 10px;
}

.profile {
    display: flex;
    align-items: center;                 
    justify-content: space-between;  
    gap: 20px;
     width: 100%;
    max-width: 900px;
    margin: 30px auto;
    
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 80px;
}
.profile-info
{
   flex:1;
   margin-right: 100px;
}


.profile-info  .profile-name {
    
    font-size: 30px;
    font-weight: 600;
    color:black;
}

.profile-info .profile-title {
    
    margin: 5px 0 0;
    font-size: 25px;
    color:grey;
    font-weight: bold;
    margin-right: 30px;
}

.feedback {
    width: 40%;          
    font-size: 17px;
    color:grey;
    line-height: 1.7;
    text-align: left;     
}

.arrows
{
    font-size: 35px;
    display: flex;
    justify-content: center;
    gap:70px;
}
.arrow
{
cursor:pointer;
}
.meeting-section
{
  margin: 25px auto;
    height:450px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 40px;
}
.meeting-section img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: center 30%;
    
}
.overlay
{
    position: absolute;
    inset:0;
}
.subtitle
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    text-align: center;
    width:80%;
    justify-content: space-between;
}
.subtitle  h2
{
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin-right: 40px;
}
.btn {
    background: #28c46d;
    padding: 14px 26px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
}
.logo-strip {
    text-align: center;          
    padding: 20px 0;
}

.logo-strip img{
    display: inline-block;      
    margin: 0 10px;              
    vertical-align: middle;      
    height: 40px;  
    margin-left: 30px;              
}
.logo-strip h3{
display:inline-block;
margin-right: 20px;
}


   .footer {
       background: #222;
   bb color: #fff;
      padding: 40px 0;
    }

    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }

.footer-left .logo {
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
}

.footer-left .logo-subtitle {
    color: #aaa;
    margin-bottom: 20px;
    line-height: 1.5;
}

.social-icons a {
    color: #ccc;
    margin-right: 12px;
    font-size: 18px;
    transition: 0.3s;
}
.social-icons a:hover {
    color: #fff;
}

.footer-contact h3,
.footer-links h3 {
    color: #fff;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    color: #ccc;
    margin-top: 15px;
}

.contact-item i {
    font-size: 20px;
    margin-right: 12px;
    color: green; 
}

.contact-item p {
    margin: 0;
    font-size: 13px;
    color: #aaa;
}

.contact-item a,
.contact-item span {
    color: #fff;
    font-size: 14px;
    
}

.footer-links {
    width: 250px; 
   
        
}

.footer-links h3 {
    margin-bottom: 10px;

}

.footer-links ul {
    list-style: none;
    padding: 0;
     dispaly:flex;
    justify-content: space-between;  
    flex-direction: column;  
    gap:20px;   
}

.footer-links ul li {
    margin:2px 0;
}

.footer-links ul li a {
    color:white;
    text-decoration: none;
}
.footer-bottom {
    color:white;
     border-top: 1px solid #333;
    justify-content: space-between;
}
 .left p
{
 font-size: 15px;
 margin-top:10px;
}

 


