/* Add your css here  */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
body{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.container
{
    height:300px;
    width:700px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    display: inline-block;
   flex-wrap: wrap;

}
.header
.header
{
    margin-bottom: 40px;
}
 .subtitle
{
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color:grey;
    letter-spacing: 1px;
}
.title
{
  margin-top: 10px;
  text-transform: capitalize;
  color: black;
  font-size:40px;
  letter-spacing: 1px;
  font-weight: 50;
}
.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.card
{
   flex: 1 1 150px;
  min-width: 150px;
  background-color: white; 
 
}
 .number {
font-size: 32px;
font-weight: bold;
color: blue;
}
.label {
    margin-top: 8px;
    font-size: 16px;
    color:grey;
}
    
